@import "../../fonts/font.css";

.card-row {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.div-centered {
    width: 100%;
    margin: auto;
}

.container-fluid {
    padding: 0 !important;
}